<div class='row'>
	<a href='<%=url_for( :controller => 'characters', :action => 'new' )%>'>
	<div class='col-md-6 tile' >
		<div class='col-md-3 avatar'>
			<div class='glyphicon glyphicon-plus-sign'></div>
		</div>
		<div class='col-md-9' >
			<div class='charname'>
				New Character
			</div>
			<div class='levels'>
				I'll try anything for three scenarios...
			</div>
		</div>
	</div>
	</a>
</div>
