form.profile-form {
	padding-left: 1em;
	padding-right: 1em;
}

form input.top {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  margin-bottom: -1px;
}

form input.mid {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-bottom: -1px;
}

form input.bottom {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-bottom: 1em;
}
